﻿body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.our-work-area {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #DE2B24;
}

.our-work-area-content {
    margin: 110px 180px;
}

.our-work-area-content-title {
    text-align: center;
    color: #FFFFFF;
}

.our-work-area-content-title h1 {
    margin: 0px;
    padding: 0px;
    font-size: 36px;
    font-family: "Helvetica Bold";
}

.our-work-area-content-title p {
    margin: 0px;
    font-size: 26px;
    font-family: "Helvetica Light";
}

.our-work-area-title-ractangle {
    position: absolute;
    width: 45px;
    height: 5px;
    left: 49%;
    margin-top: 18px;
    margin-bottom: 48px;
    background-color: #FFFFFF; 
}
 
.our-work-area-content-main {
    margin-top: 70px;
    overflow: hidden;
} 


 .our-work-area-content-main-row {
    height: 254px;
    overflow: hidden;
}

.our-work-area-content-main-row-element-descr {
    float: left;
    height: 100%;
    width: 25%;
    padding: 76px 0px;
    background-color: #F35E59;
}

.our-work-area-content-main-row-element-descr h2 {
    font-size: 26px;
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Bold";
}

.our-work-area-content-main-row-element-descr p {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Light";
}

.our-work-area-content-main-element-image {
    float: left;
    height: 100%;
    width: 25%;
}

.our-work-area-content-main-element-image img {
    height: 100%;
    width: 100%;
}

.facebook-analysis-area {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1287BF;
}

.facebook-analysis-area-content {
    position: relative;
    margin: 115px 25%; 
}

.facebook-analysis-area-content-title {
    text-align: center;
    color: #FFFFFF;
}

.facebook-analysis-area-content-title h1 {
    margin: 0px;
    padding: 0px;
    font-size: 36px;
    font-family: "Helvetica Bold";
}

.facebook-analysis-area-content-title p {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: "Helvetica Light";
}
 
.ellipse-container {
    position: relative;
    overflow: visible;
    height: 60px;
    margin-top: 18px;
}

.ellipse {
    width: 60px;
    height: 100%;
    border: 2px solid;
    border-radius: 50%;
    border-color: #FFFFFF;
    position: absolute;
    left: 48%;
    z-index: 2;
    line-height:60px;
}

.ellipse-arrow {
    width: 0;
    height: 0;
    position: absolute;
    left: 17%;
    top: 50%;
    border-bottom: 0px;
    border: 20px solid transparent;
    border-top-color: #FFFFFF;
}

.input-data-area {
    position: relative;
    padding-top: 48px;
    margin-top: 53px;
    background-color: #FFFFFF;
    text-align: center;
}

.input-data-area form {
    overflow: hidden;
    align-content: center;
    margin: 0px;
    padding: 0px;
}

.input-data-area p {
    margin-bottom: 41px;
    margin-left: 66px;
    margin-right: 66px;
    text-align: center;
    font-family: "Helvetica";
    color:#828282;
    font-size: 15px;
}

.input-data-area input {
    width: 60%;
    height: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 8px;
    padding: 0px 16px;
    border-width: 1px;
    border-radius: 5px 5px 5px 5px;
    font-family: "Helvetica";
    color: #828282;
    border-style: solid;
    border-color: #D8D8D8;
}

.input-data-area:active {
    border-color: #1287BF; 
}

.input-data-area [type = "submit"]{
    margin-top: 29px;
    margin-bottom: 79px;
    width: 160px;
    color: #FFFFFF;
    font-size: 15px;
    background-color: #DE2B24;
}

.input-data-area [type="submit"]:hover {
    cursor: pointer;
    color: #DE2B24;
    border-color:#DE2B24; 
    background-color: #FFFFFF;
}
  
 .top-arrow {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 48.5%;
    top: -12%;
    border: 30px solid transparent;
    border-bottom-color: #FFFFFF;
 }
 
 .close-button {
    width: 46px;
    height: 46px;
    position: absolute;
    left: 98%;
    top: -6%;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    background-color:#DE2B24; 
    z-index: 1;
 }

 .close-button p {
    padding: 0px;
    margin: 0px;
    margin-top: 3px;
    font-family: "Tahoma";
    font-size: 32px;
    color: #FFFFFF;
 }

 .get-in-touch-area {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;    
    background-color: #2A2A2A;
 }
 
 .get-in-touch-area-content {
    margin: 86px 25%;
 }

 .get-in-touch-area-content-title {
     text-align: center;
     font-family: "HelveticaNeue";
 }

 .get-in-touch-area-content-title h1 {
     padding: 0px;
     margin: 0px;
     font-size: 29pt;
     font-weight: bold;
     color: #FFFFFF;
 }

 .get-in-touch-area-content-subscribe-links-area {
    position: relative;
    overflow: hidden;
    margin: 30px 0px 35px 0px;
    text-align: center;
 }

 .get-in-touch-area-content-subscribe-links {
     display: inline-block;
     width: 47px;
     height: 45px;
     position: relative;
     cursor: pointer;
     margin: 0px 19px 0px 0px;
     border: 2px solid #515151;
     border-radius: 2px 2px 2px 2px;
 }

.get-in-touch-area-content-subscribe-links:hover {
    border-color:#DE2B24;
}

 .get-in-touch-area-content-subscribe-links img {
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
 }

.get-in-touch-area-content p {
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #ADADAD;
    font-family: "Open Sans";
    font-size: 14pt;
}

.get-in-touch-area-content-input-mail-form {
    margin-top: 33px;
    text-align: center;
}

.get-in-touch-area-content-input-mail-form input {
    width: 100%;
    height: 52px;
    font-family: "Open Sans";
    font-size: 14pt;
    padding-left: 24px;
    color: #cecece;
    background-color: #515151;
    border: none;
}

.get-in-touch-area-content-input-mail-form [type="submit"] {
    margin-top: 27px;
    width: 150px;
    height: 50px;
    padding: 0px;
    font-family: "Myriad Pro";
    font-size: 15pt;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #2A2A2A;
    border-radius: 4px;
    border: 2px solid #515151;
}

.get-in-touch-area-content-input-mail-form [type="submit"]:hover {
    border-color: #DE2B24;
}

footer {
    height: 70px;
    width: 100%;
    overflow: hidden;
    background-color: #515151;
}

footer p {
    margin: 29px 0px;
    padding: 0px;
    text-align: center;
    font-family: "Open Sans";
    color: #cecece; 
}